.popup__mask {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);

  .popup__wrapper {
    background: white;
    border-radius: 5px;
    position: relative;
    padding: 5px;
    text-align: center;
  }
  .popup__close {
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
    user-select: none;
    font-family: sans-serif;
  }
  .popup__title {
    border-bottom: 1px solid #d0caca;
    padding: 5px 0;
    font-weight: bold;
  }
  .popup__content {
    padding: 10px;
  }
}
